[Desktop Entry]
Name=Challenge Ladders & Leagues
Exec=env WINEPREFIX="/home/sio/q3" wine "C:\\windows\\command\\start.exe" "C:\\Program Files\\Quake III Arena\\extras\\Challenge Ladders & Leagues.url"
Type=Application
StartupNotify=true
Icon=/home/sio/.local/share/icons/03e7_challenge ladders & leagues.xpm
