[Desktop Entry]
Name=Events & Tournaments
Exec=env WINEPREFIX="/home/sio/q3" wine "C:\\windows\\command\\start.exe" "C:\\Program Files\\Quake III Arena\\extras\\Events & Tournaments.url"
Type=Application
StartupNotify=true
Icon=/home/sio/.local/share/icons/03e7_events & tournaments.xpm
