Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.dpi: 96.0

!!URxvt*background: black
!!URxvt*foreground: grey
URxvt*transparent: true
!URxvt*backgroundPixmap: ~/pictures/pixel.png
URxvt*backgroundPixmap: /home/sio/.fluxbox/styles/BlueNight-tile.png-urxvt;0x0
URxvt*shading: 170
URxvt*tintColor: black
!!URxvt*color4: #0000FF
!!URxvt*color2: #008200
!!URxvt*color10: #0C9400
!!URxvt*color12: #0000FF
!!URxvt*color6: #00DBDB
!URxvt.colorBD: #CC5533
!URxvt.colorUL: #88AA22
URxvt.underlineColor: #d1d1d1
URxvt*font: xft:Terminus-12:autohint=true:antialias=true
URxvt*scrollBar: False
URxvt*saveLines: 5000
URxvt.perl-ext-common: default,matcher
! ,digital-clock,readline,searchable-scrollback,selection,tabbed
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 11
!URxvt.tabbed.tab-bg: 0
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

!from rurik
URxvt*background: #333333
URxvt*cursorColor: #e5e5e5
URxvt*foreground: #e5e5e5
!URxvt*font: xft:DejaVu Sans Mono-9
!:antialias=True:autohint=true
!!URxvt*scrollBar: true
URxvt*faceLines: 5000
URxvt*color0:  #000000
URxvt*color1:  #aa0000
URxvt*color2:  #00aa00
URxvt*color3:  #aa5500
URxvt*color4:  #0000aa
URxvt*color5:  #aa00aa
URxvt*color6:  #00aaaa
URxvt*color7:  #aaaaaa
URxvt*color8:  #555555
URxvt*color9:  #ff5555
URxvt*color10: #55ff55
URxvt*color11: #ffff55
URxvt*color12: #5555ff
URxvt*color13: #ff55ff
URxvt*color14: #55ffff
URxvt*color15: #ffffff
!Alternate
!URxvt*color0:  #000000
!URxvt*color1:  #fe0b12
!URxvt*color2:  #00d900
!URxvt*color3:  #ff7916
!URxvt*color4:  #000095
!URxvt*color5:  #aa00aa
!URxvt*color6:  #00aaaa
!URxvt*color7:  #e2e2e2
!URxvt*color8:  #555555
!URxvt*color9:  #aa3838
!URxvt*color10: #55ff55
!URxvt*color11: #ffff55
!URxvt*color12: #5555ff
!URxvt*color13: #ff55ff
!URxvt*color14: #bebebe
!URxvt*color15: #ffffff

XTerm*background: #333333
!XTerm*cursorColor: #e5e5e5
XTerm*foreground: #e5e5e5
XTerm*font: -*-terminus-medium-r-normal-*-14-*-*-*-*-*-iso10646-1
XTerm*scrollBar: true
XTerm*faceLines: 5000
XTerm*color0:  #000000
XTerm*color1:  #aa0000
XTerm*color2:  #00aa00
XTerm*color3:  #aa5500
XTerm*color4:  #0000aa
XTerm*color5:  #aa00aa
XTerm*color6:  #00aaaa
XTerm*color7:  #aaaaaa
XTerm*color8:  #555555
XTerm*color9:  #ff5555
XTerm*color10: #55ff55
XTerm*color11: #ffff55
XTerm*color12: #5555ff
XTerm*color13: #ff55ff
XTerm*color14: #55ffff
XTerm*color15: #ffffff
