Xft.autohint: false
Xft.lcdfilter: lcdlight
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.rgba: rgb 
Xft.dpi: 96.0

URxvt*transparent: true
URxvt*backgroundPixmap: /home/sio/.fluxbox/styles/BlueNight-tile.png-urxvt;0x0
URxvt*shading: 170
URxvt*tintColor: black
URxvt.underlineColor: #d1d1d1
URxvt*scrollBar: False
URxvt*saveLines: 5000
URxvt.perl-ext-common: default,matcher
! ,digital-clock,readline,searchable-scrollback,selection,tabbed
URxvt.urlLauncher: firefox
URxvt.matcher.button: 2
URxvt*background: #333333
URxvt*cursorColor: #e5e5e5
URxvt*foreground: #e5e5e5
URxvt*font: xft:DejaVu Sans Mono-9:antialias=True
URxvt*geometry:90x25
URxvt*faceLines: 5000
URxvt*color0:  #000000
URxvt*color1:  #aa0000
URxvt*color2:  #00aa00
URxvt*color3:  #aa5500
URxvt*color4:  #0000aa
URxvt*color5:  #aa00aa
URxvt*color6:  #00aaaa
URxvt*color7:  #aaaaaa
URxvt*color8:  #555555
URxvt*color9:  #ff5555
URxvt*color10: #55ff55
URxvt*color11: #ffff55
URxvt*color12: #5555ff
URxvt*color13: #ff55ff
URxvt*color14: #55ffff
URxvt*color15: #ffffff
!Alternate
!URxvt*color0:  #000000
!URxvt*color1:  #fe0b12
!URxvt*color2:  #00d900
!URxvt*color3:  #ff7916
!URxvt*color4:  #000095
!URxvt*color5:  #aa00aa
!URxvt*color6:  #00aaaa
!URxvt*color7:  #e2e2e2
!URxvt*color8:  #555555
!URxvt*color9:  #aa3838
!URxvt*color10: #55ff55
!URxvt*color11: #ffff55
!URxvt*color12: #5555ff
!URxvt*color13: #ff55ff
!URxvt*color14: #bebebe
!URxvt*color15: #ffffff

XTerm*background: #333333
!XTerm*cursorColor: #e5e5e5
XTerm*foreground: #e5e5e5
XTerm*scrollBar: false
XTerm*faceName: xft:DejaVu Sans Mono-9:antialias=True
XTerm*faceLines: 5000
XTerm*color0:  #000000
XTerm*color1:  #aa0000
XTerm*color2:  #00aa00
XTerm*color3:  #aa5500
XTerm*color4:  #0000aa
XTerm*color5:  #aa00aa
XTerm*color6:  #00aaaa
XTerm*color7:  #aaaaaa
XTerm*color8:  #555555
XTerm*color9:  #ff5555
XTerm*color10: #55ff55
XTerm*color11: #ffff55
XTerm*color12: #5555ff
XTerm*color13: #ff55ff
XTerm*color14: #55ffff
XTerm*color15: #ffffff
