[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/mpi
Exec=wine start /ProgIDOpen gizmo.Document %f
NoDisplay=true
StartupNotify=true
